@{
    ViewBag.Title = "About Us";
}

<div class="container mb-5" style="margin-top:20px">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
            <h1>About Our PC Gaming Components Website</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="/Photos/matt-wojtas-GvbinEtvTo4-unsplash.jpg" class="img-fluid rounded" alt="Gaming PC Components">
        </div>
        <div class="col-md-6">
            <p>Our PC gaming components website was founded with a simple goal in mind: to provide gamers with the best possible components to create the ultimate gaming experience. We understand that every gamer has different needs and preferences, which is why we offer a wide range of components to help you build a customized gaming PC that meets your specific requirements.</p>
            <p>Our team is made up of passionate gamers who are dedicated to staying up-to-date with the latest technology trends in the gaming industry. We work with top brands in the industry to provide you with the latest and greatest components, and we're committed to offering competitive prices to ensure that you can get the components you need without breaking the bank.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 order-md-2">
            
            <img src="/Photos/roberto-nickson-Gvm2wM3V5PA-unsplash.jpg" class="img-fluid rounded" alt="Gaming PC Setup">
        </div>
        <div class="col-md-6 order-md-1">
            <p>At our PC gaming components website, we pride ourselves on providing exceptional customer service. Our knowledgeable team is always available to answer your questions and help you select the right components for your build. We believe that building a gaming PC should be a fun and rewarding experience, and we're here to help you every step of the way.</p>
            <p>Whether you're a seasoned gamer or just starting out, we have everything you need to create a powerful and immersive gaming experience. From processors and graphics cards to motherboards and RAM, we offer a wide range of components to suit every need and budget. Start browsing our collection today and take the first step towards building your ultimate gaming PC.</p>
        </div>
    </div>
</div>