<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .sidenav-open {
            margin-left: 250px;
            transition: margin-left 0.3s ease-in-out;
        }

        body {
            background-color: #f2f2f2 ;
            padding-top: 55px;
        }
        nav{
            background-color: #01579b;
            
           
        }

        #sidenavicon:hover {
           
            cursor: pointer;
        }
        .navbar-brand{
            margin-bottom:0;
            padding-left:4px;
            padding-bottom:0;
            padding-top:0;
            text-align:center
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;
            z-index: 9999;
            border: none;
        }
    </style>
    
</head>

<body>
    @using Microsoft.AspNetCore.Identity
    @inject RoleManager<IdentityRole> RoleManager
    @inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager

    <header>



        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow justify-content-center justify-content-lg-start">
            <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                    <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                
                
                
                    <a href="/UserOrder/UserOrders" class="text-white">Orders</a>
                    <a asp-controller="Item" asp-action="AddNewItem" class="text-white">Create Product</a>
                    <a asp-controller="Category" asp-action="Index" class="text-white">Category</a>
                
            </div>

                <a class="nav-item" onclick="openNav()"><i class="navbar-toggler-icon bi-list text-white" id="sidenavicon"></i></a>
                <p class="navbar-brand text-white">E Store</p>
            }
            else
            {
                <p class="navbar-brand text-white">E Store</p>
            }
        


            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs"><i class="bi bi-blockquote-left"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Item" asp-action="GetAll"><i class="bi bi-dpad"></i> Products</a>
                    </li>
                

                    
                </ul>
            </div>
        </nav>
        
    </header>

    <footer class="bg-light">
        <div class="container py-3" style="min-height: @ViewBag.MinHeight;">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">&copy; @DateTime.Now.Year <strong>E Store</strong></p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0"><i class="bi bi-envelope"></i> Contact us: <a href="mailto:info@yourwebsite.com">E_Store@Anything.com</a> | <i class="bi bi-telephone-inbound"></i> +1 800-123-4567</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Open sidebar
            function openNav() {
                $('#mySidenav').css('width', '250px');
                $('body').addClass('sidenav-open');
            }

            // Close sidebar
            function closeNav() {
                $('#mySidenav').css('width', '0');
                $('body').removeClass('sidenav-open');
            }

            // Sidebar toggle button click event
            $('#sidenavicon').on('click', function () {
                if ($('body').hasClass('sidenav-open')) {
                    closeNav();
                } else {
                    openNav();
                }
            });

            // Close sidebar when close button is clicked
            $('.closebtn').on('click', function () {
                closeNav();
            });
        });
        loadCartCount();
        async function loadCartCount() {
            try {
                var response = await fetch(`/Cart/GetTotalItemInCart`);
                console.log(response)
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>

</body>
</html>