
@using Newtonsoft.Json
<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
   
     

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />

</head>
<body>
   @using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 justify-content-center justify-content-lg-start" >
        <div class="container">
             @*   <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img width="40" height="32" src=""></img>
                </a>*@
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                            <a href="/UserOrder/UserOrders">Orders</a>
                            <a  asp-controller="Item" asp-action="AddNewItem">Create Product</a>

                             <a asp-controller="Item" asp-action="GetAllItems">All Items</a>
                       
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                       
                    }
                  
                </div>

                <!-- Use any element to open the sidenav -->
                <span class="navbar-brand " onclick="openNav()"><i class="navbar-toggler-icon bi-filter-left"></i> E Store </span>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav">
                     <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  asp-controller="Item"-action="Search">
                           <button class="btn" type="submit">Search</button>
                     </form>
                    <partial name="_LoginInfo" />
                    

                </ul>

                <ul class="navbar-nav flex-grow-1">
                   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="btn-group dropdown">

                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                            @await Component.InvokeAsync("CategoryList")
                            <vc:category-list></vc:category-list>
                            
                        </li>
                           <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Item" asp-action="GetAllItems">All Items</a>
                    </li>
                   
                   
                </ul>
            </div>
        </div>
    </nav>

  

</header>

   <partial name="_footer"/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    loadCartCount();
    async function loadCartCount() {
        try {
            var response = await fetch(`/Cart/GetTotalItemInCart`);
            console.log(response)
            if (response.status == 200) {
                var result = await response.json();
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
        }
        catch (err) {
            console.log(err);
        }
    }
</script>
<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    }
</script>
</html>
