@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="/Cart/GetUserCart">
            <span id="cartCount" class="badge text-bg-info">0</span>
            <i class="bi bi-cart4"></i>
    </li>
    <li class="btn-group dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
        </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
            </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn " asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        /
        <a class="btn" asp-controller="Account" asp-action="Signup">Sign Up</a>
    </li>
}


