@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> _signInManager
<style>
    #btn1{
        padding-left:10px;
        padding-right:0;
    }

    #btn2 {
        padding-left: 0px;
        padding-right: 10px;
    }
 
</style>
@if (_signInManager.IsSignedIn(User))
{
    @if(!User.IsInRole("Admin"))
    {
    <li class="nav-item">
            <a class="nav-link " href="/Cart/GetUserCart" style="padding-left:0px; padding-right:0px" >
                <i class="bi-cart " style="font-size: 100%; color:white">
                    <span id="cartCount" class=" top-0 start-100 translate-middle badge rounded-pill " style="background-color:#6495ED;">
                        0
                    </span>
                </i>
            </a>
             
    </li>
    }
    
    <li class="btn-group dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello <i class="bi bi-person-circle text-white"></i> @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
        </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
            <a class="dropdown-item" asp-action="EditProfile" asp-controller="Account">Edit Profile</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change Password</a>
            </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn text-white " id="btn1" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-person text-white"></i> Login /</a>
        
        <a class="btn text-white" id="btn2" asp-controller="Account" asp-action="Signup">Sign Up <i class="bi bi-person-plus text-white"></i></a>
    </li>
}


