@model IEnumerable<ItemModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h4>@item.Name</h4>
            <p>@item.Description</p>
        </div>
    }
</div>