@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-success">
    An email with instructions to reset your password has been sent to your email address.
</div>

<p>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</p>