
@model SignUpModel

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    
</head>

<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Get Exclusive Access <br />
                        <span class="text-primary">to the Latest Gaming Components, Register Today!</span>
                    </h1>
                   
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label asp-for="FirstName" class="control-label "></label>
                                            <input asp-for="FirstName" class="form-control form-control-lg" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" class="form-control form-control-lg" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    
                                </div>
                                <!-- Email input -->
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label" for="form1Example13">Email address</label>
                                    <input asp-for="Email" type="email" id="form1Example13" class="form-control form-control-lg" />
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <!-- Password input -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control form-control-lg" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" class="control-label"></label>
                                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="BirthDate" class="control-label"></label>
                                            <input asp-for="BirthDate" type="date" class="form-control form-control-lg" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control form-control-lg" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                      
                      
                        <div class="form-group mb-2">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                                <div class="d-grid gap-2">


                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                                </div>



                            </form>
                            <div class="text-center text-lg-start mt-4 pt-2">

                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Already have an account ? <a class="link-danger" asp-controller="Account" asp-action="Login">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
